/* Reset defaults */
html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
	box-sizing: border-box;
	font-family: "Rubik Mono One", Helvetica, Arial, sans-serif;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/* * Remove text-shadow in selection highlight: * https://twitter.com/miketaylr/status/12228805301 * * Customize the background color to match your design. */
::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/* * Remove the gap between audio, canvas, iframes, * images, videos and the bottom of their containers: * https://github.com/h5bp/html5-boilerplate/issues/440 */
audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

img {
	max-width: 100%;
}

[data-icon]::before {
	content: attr(data-icon);
	font-family: 'Material Icons';
	font-weight: bold;
	font-style: normal;
	font-size: 1.4em;
	vertical-align: middle;
	width: 1em;
	height: 1em;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
}

/* * Remove default fieldset styles. */
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/* ---------------------*/
body {
	margin: 0;
	font-family: "Public Sans", Helvetica, Arial, sans-serif;
	background: #373737;
}

.link:hover {
	text-decoration: underline;
	cursor: pointer;
}

header {
	width: 100%;
	background-color: #E7D8C0;
	z-index: 3;
	position: relative;
	top: 0;
	min-height: 72px;
}

a {
	text-decoration: none;
}

.strong {
	font-weight: 700;
}

.maxwidth {
	max-width: 100%;
	width: 1920px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.alignleft {
	text-align: left;
}

.alignright {
	text-align: right;
}

.aligncenter {
	text-align: center;
}

.left-0
{
	left: 0;
}

.right-0
{
	right: 0;
}

.bottom-0 {
	bottom: 0;
}

.top-0 {
	top: 0;
}

.beige {
	background-color: #E7D8C0;
}

.maincont {
	margin-right: auto;
	margin-left: auto;
	display: block;
}

.maincont2 {
	float: left;
	background: #d59b3e;
	position: relative;
}

main {
	padding: 0;
	background: #FFF;
}

main a {
	color: #222;
	text-decoration: underline;
}

main .mainsectcont {
	min-height: 540px;
}

main .content {
	padding: 0 24px 24px 24px;
	line-height: 24px;
}

header {
	background-color: #D59B3E;
}

.mainmenu {
	float: right;
}

/* ------------ Language selector start ------------*/
.langmenucnt {
	display: block;
	float: right;
	position: relative;
	width: 100%;
}

.langtext {
	font-size: 10px;
	color: #FFF;
	text-align: center;
	display: block;
	margin-top: 29px;
	width: 100%;
}

.langtext:hover {
	color: #222;
}


/* ------------ Language selector end ------------*/
.midcol {
	display: block;
	float: left;
	width: 100%;
}

.largetext {
	font-family: "Rubik Mono One", Helvetica, Arial, sans-serif;
	color: #222;
	font-size: 34px;
	font-weight: 400;
	display: block;
	margin: 0;
	padding: 30px 0 50px 0;
}

.mediumtext {
	font-family: "Rubik Mono One", Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: 400;
	margin: 0;
	padding: 26px 0;
}

.smlls {
	letter-spacing: -5px;
}

/* ------------ Sidebar start ------------*/
.smllogo {
	background: #FFF;
	position: absolute;
	width: 90px;
	height: 72px;
}

.smllogo img {
	margin: 10px 20px;
	width: 50px;
}

.sidetext {
	width: 90px;
	display: block;
	top: 60px;
	margin: 0;
	padding: 46px 0;
}

.title {
	font-size: 54px;
	line-height: 1;
	font-family: "Rubik Mono One", Helvetica, Arial, sans-serif;
	position: fixed;
	top: 115px;
	white-space: nowrap;
}

.rotleft {
	transform: rotate(-90deg) translateY(48px) translateX(-100%);
	transform-origin: 0% 50%;
}

.rotright {
	transform: rotate(90deg) translateY(-43px);
	transform-origin: 0% 50%;
}

/* ------------ Sidebar end ------------*/

/* ------------ Navi & topbar start ------------*/
.topbar {
	font-weight: 400;
	font-family: "Rubik Mono One", Helvetica, Arial, sans-serif;
	display: block;
	justify-content: space-between;
	align-items: center;
	padding: 0 26px 0 26px;
}

.topbartext {
	font-family: "Rubik Mono One", Helvetica, Arial, sans-serif;
	font-size: 10px;
	font-weight: 400;
	line-height: 34px;
	margin: 20px 0 0 0;
	color: #FFF;
}

.topbartext:hover {
	color: #222;
}

nav {
	font-size: 14px;
}

.menucont {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 3000;
	overflow-x: hidden;
	padding-top: 0px;
}

.menuoverlay {
	position: relative;
	height: 100%;
	background: #d59b3e;
}

.toplinks {
	padding: 12px 0 64px 0;
	margin: 0 auto;
}

.mobnavlink {
	color: #FFF;
}

.mobnavlink:hover {
	color: #222;
}

.mobnavul {
	font-family: "Rubik Mono One", Helvetica, Arial, sans-serif;
	list-style: none;
	margin: 0;
	padding: 0;
}

.mobnavsep {
	width: 100%;
	float: left;
	text-align: center;
	margin: 15px 0;
}

.mobnavclose {
	margin-top: 8px;
	text-align: right;
	padding: 7px 32px 0 0;
	margin-bottom: 60px;
}

.mobnavclose a {
	margin-right: 0;
}

/* ------------ Navi & topbar end ------------*/

/* ------------ hero start ------------*/
.sompahumancnt {
	width: 100%;
	position: relative;
}

.sompahumansomecnt {
	width: 100%;
	margin-bottom: 36px;
	float: left;
}

.sompahumansome {
	font-family: "Rubik Mono One", Helvetica, Arial, sans-serif;
	font-size: 16px;
	position: relative;
}

.shsr {
	right: 20px;
}

.shsl {
	left: 20px;
}

.sompahumansome p {
	display: block;
	font-size: 14px;
	margin: 18px 0 12px 0px;
	clear: both;
	float: left;
}

.sompahumansome img {
	display: block;
}

.sompahumanicons {
	position: relative;
	clear: none;
}

.sompahuman {
	display: block;
	position: relative;
	margin: auto;
	text-align: center;
	margin-left: 35px;
}

.socmediacontinv {
	width: 48px;
	height: 48px;
	display: block;
	border-radius: 50%;
	background: #000;
	float: left;
}

.socmediacontinv:hover {
	background: #d59b3e;
}

.saha {
	width: 120px;
}

.sometop img {
	width: 26px;
	height: 26px;
	text-align: center;
	margin: 12px 0 0px 9px;
}

.sompahumanimg {
	width: 100%;
	height: 100%;
	position: relative;
}

.sompahumanimg img {
	margin-top: 24px;
	padding: 0;
}

/* ------------ hero end ------------*/

/* ------------ footer start ------------*/
footer {
	box-sizing: border-box;
	background-color: black;
	color: white;
	width: 100%;
	padding: 42px 24px 12px 24px;
}

footer section {
	margin: 0 auto;
}

footer .contact {
	justify-content: space-between;
	margin-bottom: 20px;
	text-align: center;
}

footer .email {
	color: #FFF;
	text-decoration: underline;
}

footer contact .center {
	justify-content: center;
}

footer contact .center .some {
	background-color: white;
}

footer contact .center .some:hover {
	background-color: #D59B3E;
}

footer contact .right {
	text-align: right;
}

.slogan {
	padding: 10px 0 12px 0;
}

.slogan img {
	width: 100%;
}

.some {
	width: 48px;
	height: 48px;
}

.socmediacont {
	width: 48px;
	height: 48px;
	float: left;
	display: block;
	border-radius: 50%;
	background: #FFF;
	margin: 0 10px;
}

.socmediacont:hover {
	background: #d59b3e;
}

.socmedia {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 140px;
	margin-top: 21px;
}

.contactcnt {
	flex-direction: column;
	text-align: center;
	width: 100%;
	display: flex;
}

.contactcol {
	display: flex;
	justify-content: center;
	line-height: 26px;
}

.contactcol1 {
	order: 1;
}

.contactcol2 {
	order: 3;
}

.contactcol3 {
	order: 2;
}

.some img {
	width: 26px;
	height: 26px;
	text-align: center;
	margin: 11px 0 0 0;
}

/* ------------ footer end ------------*/
.payment {
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
}

.paymentimg {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 73px;
	margin-bottom: 24px;
}

.paymentimgcnt {
	display: block;
	width: 100%;
	min-height: 74px;
}

.paymentimgcnt.holvi {
	margin-top: 23px;
	min-height: 51px;
}

.paymentimg.holvi {
	margin-top: 14px;
}

.paymentcnt {
	margin-top: 60px;
}

.contpadlrg {
	padding: 60px 24px;
}

.contpadsml {
	padding: 48px 0 82px 0;
}

.sidecnt {
	display: none;
}

.colsingleimg {
	width: 80%;
	display: block;
	margin: auto;
	margin-top: 40px;
}

.bigbtn {
	font-family: "Rubik Mono One", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 18px;
	text-decoration: none;
	color: #222;
	background: #fffdcb;
	outline: none;
	border: 6px solid #222;
	box-shadow: 11px 10px 0 -4px #fffdcb, 11px 10px 0 2px #222;
	padding: 18px 20px 14px 20px;
}

.bigbtncnt {
	text-align: center;
	margin: 100px 0 100px 0;
}

.absolute {
	position: absolute;
}

@media screen and (min-width: 20.5em) {
	.mediumtext {
		font-size: 14px;
	}

	nav {
		font-size: 15px;
	}
}

@media screen and (min-width: 22em) {
	.mediumtext {
		font-size: 20px;
	}
}

@media screen and (min-width: 25em) {
	.mediumtext {
		font-size: 20px;
	}

	.topbartext {
		font-size: 14px;
	}

	.langtext {
		font-size: 12px;
	}

	nav {
		font-size: 16px;
	}
}

@media screen and (min-width: 30.5em) {
	.mediumtext {
		font-size: 22px;
	}

	nav {
		font-size: 18px;
	}
}

@media screen and (min-width: 35.5em) {
	.colsingleimg {
		width: 60%;
		display: block;
		margin: auto;
		margin-top: 40px;
	}

	.largetext {
		font-size: 40px;
		padding: 38px 0 60px 0;
	}

	.mediumtext {
		font-size: 24px;
	}

	.topbartext {
		font-size: 20px;
		margin: 20px 0 0 0;
	}

	.langtext {
		font-size: 14px;
		margin-top: 26px;
	}

	.contpadlrg {
		padding: 40px;
	}

	.contpadsml {
		padding: 64px 0 36px 0;
	}

	footer {
		padding: 42px 20px 23px 24px;
	}

	.bigbtn {
		font-size: 20px;
		border: 6px solid #222;
		box-shadow: 11px 10px 0 -4px #fffdcb, 11px 10px 0 2px #222;
		padding: 18px 24px 12px 24px;
	}

	nav {
		font-size: 20px;
	}

	.mobnavclose {
		padding: 5px 32px 0 0;
	}
}

@media screen and (min-width: 48em) {
	header {
		background-color: #E7D8C0;
	}

	.largetext {
		font-size: 42px;
		padding: 40px 0 62px 0;
	}

	.sidecnt {
		display: block;
	}

	.topbartext,
	.topbartext a {
		color: #222;
		font-size: 24px;
	}

	.topbartext:hover {
		color: #d59b3e;
	}

	.langtext {
		font-size: 15px;
		color: #222;
		margin-top: 26px;
	}

	.langtext:hover {
		color: #d59b3e;
	}

	.midcol {
		display: block;
		float: left;
		width: calc(100% - 180px);
	}

	.contpadsml {
		padding: 70px 40px;
	}

	footer {
		padding: 42px 36px 10px 36px;
	}

	.sompahumansome p {
		font-size: 16px;
	}

	.bigbtn {
		font-size: 28px;
		border: 6px solid #222;
		box-shadow: 11px 10px 0 -4px #fffdcb, 11px 10px 0 2px #222;
		padding: 18px 24px 12px 24px;
	}

	.mediumtext {
		font-size: 28px;
	}

	nav {
		font-size: 28px;
	}

	.mobnavclose {
		padding: 1px 32px 0 0;
	}
}

@media screen and (min-width: 54em) {

	.topbartext,
	.topbartext a {
		font-size: 28px;
	}

	.langtext {
		font-size: 18px;
		margin-top: 23px;
	}
}


@media screen and (min-width: 64em) {
	header .logo {
		width: 111px;
	}

	.colsingleimg {
		width: 80%;
		display: block;
		margin: auto;
		margin-top: 40px;
	}

	.contpadsml {
		padding: 70px 60px;
	}

	.largetext {
		font-size: 44px;
		padding: 42px 0 64px 0;
	}

	.midcol {
		width: calc(100% - 222px);
	}

	.smllogo {
		width: 111px;
	}

	.smllogo img {
		margin: 8px 28px;
		width: 54px;
	}

	.sidetext {
		width: 111px;
	}

	.title {
		font-size: 62px;
	}

	.rotleft {
		transform: rotate(-90deg) translateY(58px) translateX(-100%);
		transform-origin: 0% 50%;
	}

	.rotright {
		transform: rotate(90deg) translateY(-53px);
		transform-origin: 0% 50%;
	}

	.bigbtn {
		background: #fffdcb;
		font-size: 34px;
		border: 6px solid #222;
		box-shadow: 11px 10px 0 -4px #fffdcb, 11px 10px 0 2px #222;
		padding: 18px 27px 12px 27px;
	}

	.sompahuman {
		display: block;
		position: relative;
		margin: auto;
		text-align: center;
		margin-bottom: 0;
	}

	.sompahumansome {
		position: absolute;
		top: 0;
	}

	.sompahumanicons {
		position: relative;
		clear: both;
	}

	.sompahumansome.right {
		right: 20px;
	}

	.sompahumanicons a.right {
		float: right;
	}

	.sompahumansomecnt {
		width: 100%;
		display: block;
		position: static;
		margin-bottom: 36px;
		float: none;
	}

	.sompahumanimg img {
		padding: 0 0 0 70px;
	}

	.mediumtext {
		font-size: 24px;
	}
}

@media screen and (min-width: 80em) {
	.maincont {
		max-width: 100%;
	}

	.contpadlrg {
		padding: 80px;
	}

	.contpadsml {
		padding: 70px 100px;
	}

	.largetext {
		font-size: 46px;
		padding: 44px 0 66px 0;
	}

	.contactcnt {
		width: 100%;
		display: flex;
		flex-direction: row;
		text-align: justify;
	}

	.contactcol {
		width: 100%;
		line-height:20px;
	}

	.contactcol1 {
		order: 1;
		justify-content: flex-start;
	}

	.contactcol2 {
		order: 2;
	}

	.contactcol3 {
		order: 3;
		text-align: right;
		justify-content: flex-end;
	}

	.colsingleimg {
		max-width: 400px;
	}

	.socmedia {
		margin-top: 0;
	}

	.some img {
		text-align: center;
		margin: 11px 0px 0px 11px;
	}

	footer {
		padding: 135px 22px 11px 22px;
	}

	.bigbtn {
		font-size: 38px;
		border: 6px solid #222;
		box-shadow: 11px 10px 0 -4px #fffdcb, 11px 10px 0 2px #222;
		padding: 18px 27px 12px 27px;
	}

	.mediumtext {
		font-size: 28px;
	}
}

@media screen and (min-width: 120em) {
	.sompahumanimg {
		margin-top: 0;
	}

	.largetext {
		font-size: 48px;
		padding: 0px 0 46px 0;
	}

	.bigbtn {
		font-size: 45px;
		border: 7px solid #222;
		box-shadow: 11px 10px 0 -4px #fffdcb, 11px 10px 0 2px #222;
		padding: 18px 27px 12px 27px;
	}
}

@media screen and (min-width: 160em) {
}

@media screen and (min-width: 240em) {
}